{% extends 'base.html' %}
{% load static %}
{% block title %}Secret Page{% endblock %}

{% block content %}
<h2 style='color:blue';>This is my secret page</h2>

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/mystyle.css' %}">
</head>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, veritatis quidem necessitatibus doloremque repellendus architecto ut nam quae cupiditate tempora, qui vel rem mollitia recusandae, placeat rerum officia consequuntur obcaecati.</p>

{% endblock %}